# User-specific files
.idea/
.vscode/

# User-specific files for Visual Studio for Mac
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files for Visual Studio
.vs2019/
.vs2017/
.vs2015/
.vs/

# .NET Core
bin/
obj/

# ASP.NET
wwwroot/

# VS for Mac
.vscode/

# ASP.NET Core Identity
IdentityModel/

# Azure Functions
local.settings.json

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# User-specific files for Rider
.idea/

# Build directories
/dist/
/out/

# env
appsettings.Production.json